<h1>Page for documents depends on category</h1>
<br><br>

<% @documents.each do |doc| %>
  <% if doc.able_to_download?(current_user) %>
    <p><%= link_to doc.name, doc.doc_path %></p>
  <% else %>
    <p><%= doc.name %>
  <% end %>
<% end %>