<% @news.each do |news| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to news.title, news_path(news.alias) %>
  </div>
  <div class="panel-body ellipsis multiline"><%= news.body.html_safe %></div>
</div>
<% end %>

<script type="text/javascript">
$(".ellipsis").ellipsis();
</script>