<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar ">
      <ul id="sidemenu" class="nav nav-sidebar collapse">
        <li>{{#link-to 'index'}}Головна{{/link-to}}</li>
        <li>{{#link-to 'categories'}}Категорії працівників{{/link-to}}</li>
        <li>{{#link-to 'documents'}}Документи{{/link-to}}</li>
        <li>{{#link-to 'users'}}Користувачі{{/link-to}}</li>
        <li>{{#link-to 'news'}}Новини{{/link-to}}</li>
        <li>{{#link-to 'pages'}}Сторінки{{/link-to}}</li>
        <li>{{#link-to 'workers'}}Працівники{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <button type="button" class="visible-xs btn btn-default center-block btn-with_margin" data-toggle="collapse" data-target="#sidemenu">
        <span class="glyphicon glyphicon-th-list">
      </button>
      {{ outlet }}
    </div>
  </div>
</div>