<h1>Інструкція користування</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Категорії працівників</div>
      <div class="panel-body">
        У категорії "Працівник" знаходяться категорії працівників, які можуть реєструватися на даному ресурсі. Для редагування вже існуючої категорії потрібно лише двічи натиснути лівою клавішою мишки на назву категорії, після чого з"явиться можливість відредагувати категорію. Для зберігання змін необхідно натиснути клавішу enter або правою клавішою миші де інде.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Документи</div>
      <div class="panel-body">
        У меню "Документи" ви можете додавати нові документи. При додаванні документа, ви маєте вказати ім'я файлу, сам документ, який в автоматичному режимі буде записаний на інший сервер. Файлові буде призначений лінк, після додання файлу, лінк можливо буде перевірити на працездатність. Також вам потрібно вказати чи буде цей файл у відкритому доступі і празначити категорії працівників для яких буде призначений цей файл.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Користувачі</div>
      <div class="panel-body">
        У меню "Користувачі" знаходяться аккаунти людей, що зареєструвалися самостійно на сайті. У колонці відображається категорія користувача, що має бути. Категорія користувача знаходиться за рахунок працівників доданих заповнених у пункті меню "Працівники". Коли на сайті з'являється новий користувач, вам потрібно перевірити чи відповідає користувач категорії, яку він увів, і підтвердити користувача, змінивши або ні категорію користувача.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Новини</div>
      <div class="panel-body">
        У меню "Новини" ви маєте додавати новини вашого сайту. Единим підводним камінцем є те, що кожного разу, обов'язково вказувати аліас. Аліас - це назва новини латинськими буквами, яка буде знаходитися в url вашого сайту. Новини будуть з'являється в категорії новини.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Сторінки</div>
      <div class="panel-body">
        Сторінки будуть з'являється у випадаючому меню СМЯ. На сторінках, так само як і в новинах, обов'язково потрибно вказувати аліс. Редагування і створення сторінки відбувається так само як і в новинах.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Працівники</div>
      <div class="panel-body">
        У меню "Працівники" потрібно додавати користувачів, які ще не зареєструвалися. Це потрібно для того, щоб потім при реєстрації нового користувача, можливо було звірити категорію щойно зареєстрованого користувача, за уже існуючими. 
      </div>
    </div>
  </div>
</div>
  </div>