 .brand {
 	font-size: 1.3em;
 }

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
}

.ellipsis.multiline {
	white-space: normal;
}

.categories {
	margin-top: 10em;
}

.logo {
	background: url('/assets/nau.jpg');
	background-size: 100% auto;
}

.certificate {
	background: url('/assets/certificate.jpg');
	opacity: 0.3;
	width: 164px;
	height: 74px;
	&:hover {
	  animation: opp 1s;
	  opacity: 1;
	}
}

@keyframes opp {
    from {opacity: 0.3}
    to {opacity: 1}
}


@media (min-width: 768px) {
	.merge {
		padding-bottom: 30px; 
	}
}

@media (min-width: 1199px) {
	.logo:before {
		content: "";
		display: block;
		padding-top: 24%;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.logo:before {
		content: "";
		display: block;
		padding-top: 22%;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	.logo:before {
		content: "";
		display: block;
		padding-top: 18%;
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	.logo:before {
		content: "";
		display: block;
		padding-top: 21.5%;
	}
}

@media (max-width: 480px) {
	.logo:before {
		content: "";
		display: block;
		padding-top: 19%;
	}
}